#proxysql-admin credentials
export PROXYSQL_USERNAME="admin"
export PROXYSQL_PASSWORD="ZGpsbsveTjY69c"
export PROXYSQL_HOSTNAME="localhost"
export PROXYSQL_PORT="6032"
export CLUSTER_USERNAME="root"
export CLUSTER_PASSWORD="BXMzpQ2neehQF7"
export CLUSTER_HOSTNAME="xtradb-node.services.ruhmesmeile.local"
export CLUSTER_PORT="3306"
export MONITOR_USERNAME="rmmonitor"
export MONITOR_PASSWORD="3TVHqTJa3iqTiF"
export CLUSTER_APP_USERNAME="rmproxy"
export CLUSTER_APP_PASSWORD="oxidNyzuuU37cE"
export WRITE_HOSTGROUP_ID="10"
export READ_HOSTGROUP_ID="11"
export MODE="singlewrite"