[Unit]
Description=Analyzes resource usage and performance characteristics of running containers.
Documentation=https://github.com/google/cadvisor

Requires=docker.service

After=docker.service

[Service]
Restart=always
RestartSec=30s
TimeoutStartSec=360s

ExecStartPre=-/usr/bin/docker kill cadvisor
ExecStartPre=-/usr/bin/docker rm cadvisor
ExecStartPre=-/bin/bash -c 'sleep 120'
ExecStartPre=/usr/bin/docker pull google/cadvisor:v0.24.0

ExecStart=/usr/bin/docker run \
  --name "cadvisor" \
  --env "SERVICE_NAME=cadvisor" \
  --env "SERVICE_ID=%H" \
  --label "container_group=monitoring" \
  --volume "/:/rootfs:ro" \
  --volume "/var/run:/var/run:rw" \
  --volume "/sys:/sys:ro" \
  --volume "/var/lib/docker/:/var/lib/docker:ro" \
  google/cadvisor:v0.24.0

ExecStop=-/usr/bin/docker stop cadvisor

[X-Fleet]
Global=true
MachineMetadata=role=%i
