review/[Unit]
Description=Nginx container
Documentation=https://hub.docker.com/_/nginx/

Requires=docker.service

After=docker.service

[Service]
Restart=always
RestartSec=30s

ExecStartPre=-/usr/bin/docker kill nginx
ExecStartPre=-/usr/bin/docker rm nginx
ExecStartPre=/usr/bin/docker pull nginx:latest

ExecStart=/usr/bin/docker run \
  --name "nginx" \
  --env "SERVICE_80_NAME=nginx-balancer-http" \
  --env "SERVICE_443_NAME=nginx-balancer-https" \
  --env "SERVICE_ID=%H" \
  --label "container_group=nginx-reverse" \
  --volume "/srv/storage/config/nginx/data/certs:/etc/nginx/certs:ro" \
  --volume "/srv/storage/config/nginx/data/conf.d:/etc/nginx/conf.d" \
  --volume "/srv/storage/config/nginx/data/htpasswd:/etc/nginx/htpasswd:ro" \
  --volume "/srv/storage/config/nginx/data/share/html:/usr/share/nginx/html" \
  --volume "/srv/storage/config/nginx/data/vhost.d:/etc/nginx/vhost.d" \
  --volume "/var/nginx/data/conf/nginx.conf:/etc/nginx/nginx.conf" \
  --publish "80:80" \
  --publish "443:443" \
  nginx:latest

ExecStartPost=/bin/bash -c '\
  if [ "$$(hostname)" == "momcorpfdc" ]; then \
    sleep 5s; \
    /opt/bin/fleetctl destroy typo3-v7-tech-proxyupdater@ttt.service || true; \
    /opt/bin/fleetctl start typo3-v7-tech-proxyupdater@ttt.service; \
    /opt/bin/fleetctl destroy typo3-v7-review-proxyupdater@ttt.service || true; \
    /opt/bin/fleetctl start typo3-v7-review-proxyupdater@ttt.service; \
    /opt/bin/fleetctl destroy typo3-tech-proxyupdater@ttt.service || true; \
    /opt/bin/fleetctl start typo3-tech-proxyupdater@ttt.service; \
    /opt/bin/fleetctl destroy typo3-review-proxyupdater@ttt.service || true; \
    /opt/bin/fleetctl start typo3-review-proxyupdater@ttt.service; \
  fi;'

ExecStop=-/usr/bin/docker stop nginx

[X-Fleet]
Global=true
MachineMetadata=role=%i

# This nginx container will get a configuration (conf.d / vhost.d) generated by the docker-gen instance and act as a reverse-proxy.
# Additionally the nginx.conf is bind-mounted, because we need these settings to be there: "server_names_hash_*;"
