[Unit]
Description=Trigger nginx reload after changed configuration

Requires=docker.service

After=docker.service

[Service]
Type=oneshot

ExecStart=/bin/bash -c 'sleep 30s; /opt/bin/fleetctl destroy nginx-reload@fdc.service; sleep 10s; /opt/bin/fleetctl start nginx-reload@fdc.service;'
ExecStart=/bin/bash -c 'rm -f /srv/config/nginx/reload/RELOAD'

[Install]
WantedBy=multi-user.target

[X-Fleet]
Global=true
MachineMetadata=role=%i
