[Unit]
Description=Autodeploy of static staging artifacts

[Service]
Type=oneshot
ExecStart=/bin/bash -c '\
  PK=""; \
  BASE=/srv/storage/artifacts/static/review; \
  ARTIFACT=/srv/artifacts/static/review; \
  while [ $$(find $$ARTIFACT -path \'*.sources.tar.gz\' | wc -l) -eq 0 ] ; do sleep 2; done; \
  echo "Moving static project sources to storage:"; \
  while read -r fullfile ; do \
    echo Moving file: "$$fullfile"; \
    until ! err=$$(lsof $$fullfile 2>&1 > /dev/null); do sleep 1; done; \
    if [ -z "$$err" ]; then \
      PK="$$(echo $${fullfile##*/} | cut -f 1 -d \'.\' | cut -d \'-\' -f2-)"; \
      mkdir -p $$BASE/$$PK; \
      rm -rf $$BASE/$$PK/*; \
      mv "$$fullfile" $$BASE/$$PK/; \
    fi; \
  done < <(find $$ARTIFACT -path \'*.sources.tar.gz\'); \
  /opt/bin/fleetctl destroy static-review-mail@$$PK.service || true; \
  /opt/bin/fleetctl destroy static-review@$$PK.service || true; \
  sleep 15s; \
  /opt/bin/fleetctl start static-review@$$PK.service; \
  /opt/bin/fleetctl start static-review-mail@$$PK.service;'

[Install]
WantedBy=multi-user.target

[X-Fleet]
MachineMetadata=role=fdc
