[Unit]
Description=Container for static staging webpages
Documentation=https://github.com/ruhmesmeile/php-nginx-static

Requires=docker.service

After=docker.service

[Service]
Restart=always
RestartSec=30s

ExecStartPre=-/usr/bin/docker kill 'static-vision-%i'
ExecStartPre=-/usr/bin/docker rm 'static-vision-%i'
ExecStartPre=/usr/bin/docker pull ruhmesmeile/php-nginx-static:latest

ExecStartPre=/bin/bash -c '\
  echo "[SYSTEMD] Getting current project sources"; \
  rm -rf /srv/source/static/vision/%i/*; \
  while read -r fullfile ; do \
    echo "[SYSTEMD] Extracting file: $$fullfile"; \
    mkdir -p /srv/source/static/vision/%i/; \
    tar -zxf "$$fullfile" -C /srv/source/static/vision/%i/; \
  done < <(find /srv/storage/artifacts/static/vision/%i -path \'*.sources.tar.gz\'); \
  ( \
      cd /srv/source/static/vision/%i; \
      if [ ! -d web ]; then \
        rm -rf /tmp/web/%i; \
        mkdir -p /tmp/web/%i; \
        shopt -s dotglob; \
        mv * /tmp/web/%i/ || true; \
        shopt -u dotglob; \
        mv /tmp/web/%i /srv/source/static/vision/%i/web; \
      fi \
  );'

ExecStart=/usr/bin/docker run \
  --name "static-vision-%i" --rm \
  --env "SERVICE_80_IGNORE=true" \
  --env "SERVICE_443_NAME=static-vision" \
  --env "SERVICE_ID=%i" \
  --env "VIRTUAL_HOST=%i.static.ruhmesmeile.vision" \
  --env "LOCATION_HOST=%i.static.ruhmesmeile.vision" \
  --env "LETSENCRYPT_HOST=%i.static.ruhmesmeile.vision" \
  --env "LETSENCRYPT_EMAIL=jonas.ulrich@ruhmesmeile.com" \
  --env "APPLICATION_PATH=/app" \
  --env "WEB_DOCUMENT_ROOT=/app/web" \
  --env "WEB_DOCUMENT_INDEX=index.html" \
  --env "WEB_ALIAS_DOMAIN=%i.static.ruhmesmeile.vision" \
  --env "SMTP_HOST=%i.static-vision-mail.services.ruhmesmeile.local" \
  --env "SMTP_PORT=1025" \
  --label "container_group=static" \
  --volume "/srv/source/static/vision/%i:/app" \
  ruhmesmeile/php-nginx-static:latest

ExecStartPost=-/bin/bash -c '\
 echo "%i"\':$$apr1$$GvBzdmf.$$Eld/pvDX6FR8zkxNeXxlZ.\' > /srv/storage/config/nginx/data/htpasswd/%i.static.ruhmesmeile.vision;'

[X-Fleet]
MachineMetadata=role=vds
