[Unit]
Description=Run cache warming for service at least every 24 hours

[Timer]
OnUnitActiveSec=6h

[X-Fleet]
MachineOf=typo3-v7-production-cachewarmer@%i.service
