[Unit]
Description=Autodeploy of TYPO3 live artifacts

[Service]
Type=oneshot

EnvironmentFile=/etc/environment
Environment="ETCD_TLSKEY=/etc/ssl/etcd/calculonc-key.pem"
Environment="ETCD_TLSPEM=/etc/ssl/etcd/calculonc.pem"
Environment="ETCD_CACERT=/etc/ssl/etcd/ca.pem"

ExecStart=/bin/bash -c '\
  BASE=/var/nextcloud/data/data/__groupfolders; \
  ARTIFACT=/srv/artifacts/typo3/live; \
  DATE=`date +%%Y%%m%%d-%%H%%M`; \
  while [ $$(find $$ARTIFACT -path \'*.sources.tar.gz\' | wc -l) -eq 0 ] ; do sleep 2; done; \
  echo "Wait for TYPO3 project sources"; \
  while read -r fullfile ; do \
    echo "Waiting for file: $$fullfile"; \
    until ! err=$$(lsof $$fullfile 2>&1 > /dev/null); do sleep 1; done; \
    if [ -z "$$err" ]; then \
      echo "File completely loaded"; \
    fi; \
  done < <(find $$ARTIFACT -path \'*.sources.tar.gz\'); \
  sleep 5s; \
  GROUPFOLDERID="$$(cat /srv/artifacts/typo3/live/nextcloud-groupfolderid)"; \
  TARGETFOLDER=$$BASE/$$GROUPFOLDERID/Releases/$$DATE-typo3; \
  rm /srv/artifacts/typo3/live/nextcloud-groupfolderid; \
  mkdir -p $$TARGETFOLDER; \
  mv $$ARTIFACT/* $$TARGETFOLDER/; \
  chown 33:33 -R /var/nextcloud/data/data/__groupfolders/$$GROUPFOLDERID; \
  docker exec --user www-data nextcloud php occ groupfolders:scan $$GROUPFOLDERID;'

[Install]
WantedBy=multi-user.target

[X-Fleet]
MachineMetadata=role=bil
