[Unit]
Description=SOLR container for TYPO3 (v8) KBAP webpage
Documentation=https://github.com/TYPO3-Solr/ext-solr

Requires=docker.service

After=docker.service

[Service]
Restart=always
RestartSec=30s

ExecStartPre=-/usr/bin/docker kill 'typo3-v7-kbap-solr-%i'
ExecStartPre=-/usr/bin/docker network disconnect bridge 'typo3-v7-kbap-solr-%i' --force
ExecStartPre=-/usr/bin/docker rm 'typo3-v7-kbap-solr-%i' -v
ExecStartPre=/usr/bin/docker pull typo3solr/ext-solr:7.5.3

ExecStart=/usr/bin/docker run \
  --name "typo3-v7-kbap-solr-%i" --rm \
  --env "SERVICE_8983_NAME=typo3-v7-kbap-solr" \
  --env "SERVICE_ID=%i" \
  --env "VIRTUAL_HOST=%i.production.ruhmesmeile.solutions" \
  --env "VIRTUAL_PORT=8983" \
  --env "LETSENCRYPT_HOST=%i.production.ruhmesmeile.solutions" \
  --env "LETSENCRYPT_EMAIL=infrastructure@ruhmesmeile.com" \
  --label "container_group=typo3" \
  --volume "/srv/storage/solr/production/%i/data:/opt/solr/server/solr/data" \
  typo3solr/ext-solr:7.5.3

ExecStartPost=-/bin/bash -c '\
  sleep 2s && docker exec -t --user root typo3-v7-kbap-solr-%i bash -c \'\
    chown -hR solr:solr /opt/solr/server/solr\''

[X-Fleet]
MachineMetadata=role=spne
