[Unit]
Description=Container for TYPO3 (v7) master webpages, based on webdevops image
Documentation=https://github.com/ruhmesmeile/php-nginx-typo3

Requires=docker.service

After=docker.service

[Service]
Restart=always
RestartSec=30s

TimeoutSec=900s

EnvironmentFile=/etc/environment
Environment="ETCD_TLSKEY=/etc/ssl/etcd/calculonc-key.pem"
Environment="ETCD_TLSPEM=/etc/ssl/etcd/calculonc.pem"
Environment="ETCD_CACERT=/etc/ssl/etcd/ca.pem"

ExecStartPre=/bin/bash -c 'etcdctl --no-sync set /ruhmesmeile/projects/typo3/review/%i/status/typo3/current "starting" > /dev/null'
ExecStartPre=/bin/bash -c 'etcdctl --no-sync set /ruhmesmeile/projects/typo3/review/%i/status/typo3/starting "$(date +%%s)" > /dev/null'

ExecStartPre=-/bin/bash -c '/usr/bin/systemctl set-environment NGINX_PROXY_IP=$(getent hosts momcorpfdc.nginx-balancer-https.services.ruhmesmeile.local | awk \'{ print $1 }\')'
ExecStartPre=-/usr/bin/docker kill 'typo3-v7-review-%i'
ExecStartPre=-/usr/bin/docker rm 'typo3-v7-review-%i' -v
ExecStartPre=-/usr/bin/docker rm 'typo3-v7-review-%i-volume' -v
ExecStartPre=-/usr/bin/docker create -v /srv/storage/typo3-v7/review/%i/fileadmin:/app/web/fileadmin -v /srv/storage/typo3-v7/review/%i/uploads:/app/web/uploads -v /srv/storage/typo3-v7/review/%i/private:/app/private --name typo3-v7-review-%i-volume busybox /bin/true
ExecStartPre=/usr/bin/docker pull ruhmesmeile/php-nginx-typo3:7.1

ExecStartPre=/bin/bash -c '\
  echo "[SYSTEMD] Getting current project sources"; \
  cp /srv/source/typo3-v7/review/%i/web/typo3conf/LocalConfiguration.php /srv/storage/artifacts/typo3-v7/review/%i/LocalConfiguration.php || true; \
  rm -rf /srv/source/typo3-v7/review/%i/*; \
  while read -r fullfile ; do \
    echo "[SYSTEMD] Extracting file: $$fullfile"; \
    mkdir -p /srv/source/typo3-v7/review/%i/; \
    tar -zxf "$$fullfile" -C /srv/source/typo3-v7/review/%i/; \
  done < <(find /srv/storage/artifacts/typo3-v7/review/%i -path \'*.sources.tar.gz\'); \
  cp /srv/storage/artifacts/typo3-v7/review/%i/LocalConfiguration.php /srv/source/typo3-v7/review/%i/web/typo3conf/LocalConfiguration.php || true; \
  mkdir -p /srv/storage/typo3-v7/review/%i/fileadmin /srv/storage/typo3-v7/review/%i/uploads; \
  cp -R /srv/source/typo3-v7/review/%i/web/fileadmin/* /srv/storage/typo3-v7/review/%i/fileadmin/ || true; \
  cp -R /srv/source/typo3-v7/review/%i/web/uploads/* /srv/storage/typo3-v7/review/%i/uploads/ || true;'

ExecStart=/usr/bin/docker run \
  --name "typo3-v7-review-%i" --rm \
  --env-file "/srv/source/typo3-v7/review/%i/typo3-v7-master.project.env" \
  --env "TYPO3__SYS__reverseProxyIP=${NGINX_PROXY_IP}" \
  --user "root" \
  --security-opt="apparmor=unconfined" \
  --cap-add=SYS_PTRACE \
  --label "container_group=typo3" \
  --volumes-from "typo3-v7-review-%i-volume" \
  --volume "/srv/source/typo3-v7/review/%i/web:/app/web" \
  --volume "/srv/source/typo3-v7/review/%i/vendor:/app/vendor" \
  --volume "/srv/source/typo3-v7/review/%i/conf:/app/conf" \
  --volume "/srv/source/typo3-v7/review/%i/config:/app/config" \
  --volume "/srv/source/typo3-v7/review/%i/src:/app/src" \
  --volume "/srv/source/typo3-v7/review/%i/var/cache/typo3:/app/var/cache" \
  ruhmesmeile/php-nginx-typo3:7.1

ExecStartPost=/bin/bash -c 'etcdctl --no-sync set /ruhmesmeile/projects/typo3/review/%i/status/typo3/current "started" > /dev/null'
ExecStartPost=/bin/bash -c 'etcdctl --no-sync set /ruhmesmeile/projects/typo3/review/%i/status/typo3/started "$(date +%%s)" > /dev/null'

ExecStartPost=-/bin/bash -c '\
  if [ -e /srv/storage/artifacts/typo3-v7/review/%i/INSTALL ]; \
  then \
    etcdctl --no-sync set /ruhmesmeile/projects/typo3/review/%i/status/typo3/current "deploying" > /dev/null; \
    etcdctl --no-sync set /ruhmesmeile/projects/typo3/review/%i/status/typo3/deploying "$(date +%%s)" > /dev/null; \
  fi; \
  until [ "$$(docker inspect -f {{.State.Running}} typo3-v7-review-%i)" == "true" ]; do sleep 1; done; \
  echo "[SYSTEMD] Fixing permissions"; \
  docker exec -t typo3-v7-review-%i bash -c \'\
    chown -hR application:application /app; \
    chmod -R a+s /app; \
    vendor/bin/typo3cms install:fixfolderstructure; \
    vendor/bin/typo3cms cache:flush --force || true; \
    curl https://raw.githubusercontent.com/krakjoe/apcu/master/apc.php > web/apc.php; \
    chown -h application:application /app/web/apc.php; \
    service ssh start || true; \
    touch conf/staging.php;\'; \
  /opt/bin/fleetctl destroy typo3-v7-review-stopmonitor@%i.service || true; \
  /opt/bin/fleetctl start typo3-v7-review-stopmonitor@%i.service; \
  /opt/bin/fleetctl destroy typo3-v7-review-cachewarmer@%i.service || true; \
  /opt/bin/fleetctl start typo3-v7-review-cachewarmer@%i.service; \
  /opt/bin/fleetctl destroy typo3-v7-review-cachewarmer@%i.timer || true; \
  /opt/bin/fleetctl start typo3-v7-review-cachewarmer@%i.timer; \
  if [ -e /srv/storage/artifacts/typo3-v7/review/%i/INSTALL ]; \
  then \
    echo "[SYSTEMD] Moving files and starting install service"; \
    while read -r fullfile ; do \
      echo "[SYSTEMD] Moving file: $$fullfile"; \
      until ! err=$$(lsof $$fullfile 2>&1 > /dev/null); do sleep 1; done; \
      if [ -z "$$err" ]; then \
        mv $$fullfile /srv/source/typo3-v7/review/%i/web/$$(echo $${fullfile##*/} | cut -f 2 -d \'-\'); \
      fi; \
    done < <(find /srv/storage/artifacts/typo3-v7/review/%i -path \'*.files.tar.gz\' -o -path \'*.sql.bz2\'); \
    rm /srv/storage/artifacts/typo3-v7/review/%i/INSTALL; \
    /opt/bin/fleetctl destroy typo3-v7-review-install@%i.service || true; \
    /opt/bin/fleetctl start typo3-v7-review-install@%i.service; \
  fi;'

[X-Fleet]
MachineMetadata=role=ttt
